{% extends "base.html"%}
{% block title %}Gallery{% endblock %}
{% block card %}
active
{% endblock %}
{% block content %}

<div id="gallery">
<div class="ui fluid  cards" >
  <div class="ui fluid card">
    <div class="ui fluid  image" style="  background:#fff; text-align:center;">
			  <div class="ui blue right ribbon label">
				  <i class="fa fa-star"></i> 原創
			  </div>
		<div style="height:100%; overflow: hidden;">
			<a href="/static/img/hana004.jpg"><img  src="/static/img/hana004.jpg"></a>
  		</div>
	</div>
    <div class="extra content">
	   	<span class="left floated">
	       <i class="fa fa-pencil"></i>
		      花少女
		</span>
		<span class="right floated">
			<i class="fa fa-user"></i>
			夢築
		</span>
	</div>
  </div>
</div>
<div class="ui two doubling  cards">
  <div class="card" style="height:395px;">
    <div class="ui fluid centered image" style="height:350px; background:#fff; text-align:center;">
			  <div class="ui orange ribbon label">
				  <i class="fa fa-star"></i> 艦-同人
			  </div>
		<div style="height:350px; overflow: hidden;">
 <a href="/static/img/zhihoe.jpg"><img  src={{"/static/img/zhihoe.jpg"}}></a>
  		</div>
    </div>
    <div class="extra content">
	   	<span class="left floated">
	       <i class="fa fa-pencil"></i>
		      瑞鳳-正裝Q版
		</span>
		<span class="right floated">
			<i class="fa fa-user"></i>
			夢築
		</span>
	</div>
  </div>
  <div class="card" style="height:395px;">
    <div class="ui  centered image" style="height:350px; background:#fff; text-align:center;">
			  <div class="ui pink right ribbon label">
				  <i class="fa fa-star"></i> LL-同人
			  </div>
		<div style="height:350px; overflow: hidden;">
 <a href="/static/img/ll.jpg"><img  src={{"/static/img/ll.jpg"}}></a>
  		</div>
    </div>
    <div class="extra content">
	   	<span class="left floated">
	       <i class="fa fa-pencil"></i>
		      希-塔羅牌
		</span>
		<span class="right floated">
			<i class="fa fa-user"></i>
			棉花
		</span>
	</div>
  </div>
</div>

<!---
<div class="ui four doubling cards">
  <div class="card" style="height:200px;">
    <div class="ui fluid  centered  image" style=" background:#fff; text-align:center;">
		<div style="height:160px; overflow: hidden;">
      <img  src="/static/img/zhihoe.jpg">
    </div>
    </div>
    <div class="extra content">
	   	<span class="left floated">
	       <i class="fa fa-pencil"></i>
		      瑞鳳-正裝Q版
		</span>
		<span class="right floated">
			<i class="fa fa-user"></i>
			夢築
		</span>
	</div>
  </div>
  <div class="card">
    <div class="ui  fluid  centered  image" style=" background:#fff; text-align:center;">
		<div style="height:160px; overflow: hidden;">
      <img src="/static/img/zhihoe.jpg">
    </div>
    </div>
    <div class="extra content">
	   	<span class="left floated">
	       <i class="fa fa-pencil"></i>
		      瑞鳳-正裝Q版
		</span>
		<span class="right floated">
			<i class="fa fa-user"></i>
			夢築
		</span>
	</div>
  </div>
  <div class="card" style="height:200px;">
    <div class="ui  fluid  centered  image" style=" background:#fff; text-align:center;">
		<div style="height:160px; overflow: hidden;">
      <img src="/static/img/zhihoe.jpg">
    </div>
    </div>
    <div class="extra content">
	   	<span class="left floated">
	       <i class="fa fa-pencil"></i>
		      瑞鳳-正裝Q版
		</span>
		<span class="right floated">
			<i class="fa fa-user"></i>
			夢築
		</span>
	</div>
  </div>
  <div class="card" style="height:200px;">
    <div class="ui  fluid  centered  image" style=" background:#fff; text-align:center;">
		<div style="height:160px; overflow: hidden;">
      <img src="/static/img/zhihoe.jpg">
    </div>
    </div>
    <div class="extra content">
	   	<span class="left floated">
	       <i class="fa fa-pencil"></i>
		      瑞鳳-正裝Q版
		</span>
		<span class="right floated">
			<i class="fa fa-user"></i>
			夢築
		</span>
	</div>
  </div>
 --->
</div>
</div>
{% endblock %}
{% block script %}
<script src="/static/js/jquery.poptrox.min.js"></script>
		<script>
$('.ui.sticky')
.sticky({
	context: '#nav',
})
;
var foo = $('#gallery');
foo.poptrox();
		</script>
{% endblock %}
