<!DOCTYPE html>
<html>
<head>

    <meta charset='utf-8' />
	<link rel="stylesheet" type="text/css" media="screen" href= "../static/css/semantic.css">
	<link rel="stylesheet" href="../static/css/font-awesome.min.css">
	
</head>
	<div class="ui pointing vertical menu">

  <a class="item" style="pading:1px; background:#FFFFBB;">
	  <h4><i style="padding-right:5px;"class="fa fa-calendar"></i>  預訂參加場次 </h4>
  </a>
  <a class="item">
	  <i style="padding-right:5px;"  class="fa fa-calendar-check-o "></i> {{E1Name}} - {{E1D}}
  </a>
  <a class="item">
	  <i style="padding-right:5px;"  class="fa fa-calendar-check-o "></i>  {{E2Name}} -{{E2D}}
  </a>
  <a class="item">
	  <i style="padding-right:5px;"  class="fa fa-calendar-check-o "></i>  {{E3Name}} - {{E3D}}
  </a>
  <div class="item">
  </div>
</div>
