{% extends "base/2row-base.html" %} 
<h3>請留言您的訂單編號，已經訂購名字。</h3>

{% block naviIndexClass %}active{% endblock %}

{% block title %}HakureiWing 訂購後臺 {% endblock %}
{% block mainFrame %}
<div class="sixteen wide  aligned column">
	  	  <a class="ui left black ribbon label">
		  新增販賣項目
	  	  </a>
		  <div style="padding-top:15px;">
			<form class="ui form" method='POST' action='/admin/'>
		    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
			  <div class="field">
				  <div class="two fields">
					  <div class="field">
						  <input name="name" placeholder="商品名字" type="text">
					  </div>
					  <div class="field">
						  <input name="artist" placeholder="填寫繪師" type="text">
					  </div>
				  </div>
				  <div class="four fields">
					  <div class="field">
						  <input name="des" placeholder="產品敘述" type="text">
					  </div>
					  <div class="field">
						  <input name="count" placeholder="產品數量" type="text">
					  </div>
					  <div class="field">
						  <input name="tag" placeholder="Tag" type="text">
					  </div>
					  <div class="field">
						  <input name="cost" placeholder="價格" type="text">
					  </div>
				  </div>
				  <div class="field">
					  <input name="pic" placeholder="圖片位置" type="text">
				  </div>
			  </div>
			  <button class="ui button" type="submit">Submit</div>
		  </form>
		  </div>
		  <div class="ui divider"></div>
	  	  <a class="ui left black ribbon label">
		  販售清單
	  	  </a>
		  <table class="ui celled table">
			  <thead>
				  <tr>
					  <th>Bid</th>
					  <th>時間</th>
					  <th>誰要買</th>
				  	  <th>電郵呢</th>
				  	  <th>電話呢</th>
				  	  <th>付錢</th>
				  	  <th>系統操作</th>
		  		  </tr>
			  </thead>
			  <tbody>
		  {%for x in data%}
          <tr>
              <td>{{x.get('bid')}}</td>
              <td>{{x.get('date').strftime("%m-%d %H:%M")}}</td>
              <td>{{x.get('name')}}</td>
              <td>{{x.get('email')}}</td>
              <td>{{x.get('tele')}}</td>
              <td>{{x.get('bidornot')|string}}</td>
              <td></td>
          </tr>
		  {% endfor %}
			  </tbody>
          </table>
		  <div class="ui divider"></div>
<script>
$( document ).ready(function() {
var foo = $('.poptrox');
foo.poptrox();
});
</script>
{% endblock %}
