{% extends "base/base.html" %}
{% block title %}Login Panel{% endblock%}
{% block header %}
<style>

body {
	background-image :url('/static/login.png');
	background-repeat: no-repeat;
	background-position: right bottom;
}
body > .grid {
	height: 100%;
}
    .image {
      margin-top: -100px;
      }
	.column {
					      max-width: 450px;
							      }
				  
</style>
{% endblock%}
{% block mainBlock %}
<div class = "ui middle aligned grid">
	<div class = "column center aligned" style ="left:5%; width:380px;">
		<h3 class = "ui header"><div class = "content">首次登入，需設定OTP驗證。</div></h3>
	<form class="ui large form" method="get" action="/login/otp">
		<div class = "ui stacked segment" style="background-color: rgba(255,255,255,0.5);">
		
			<div class = "field">
				<h4>請用手機安裝 Google Authentictor,</h4>
				<h4>並且掃描以下條碼</h4>
				<img src="http://chart.apis.google.com/chart?cht=qr&chl={{ otpurl }}&chs=300x300"></img>
			</div>

			<div class="ui fluid buttons">
		  		<button class="ui button">Support</button>
				<div class="or"></div>
			  	<button id="login" type="submit" class="ui positive button">進入OTP-Login</button>
			</div>  
		</div>
	</form>		
	</div>
		</div>
{% endblock%}
{% block script %}{% endblock %}
